<style>
    img{
        width: 50px;
        height: 50px;

    }
</style>
<table> 
    <% for( prod of prods){ %>
        <tr>
            <td><%= prod.id %></td>
            <td><%= prod.title %></td>
            <td><%= prod.price %></td>
            <td><img src=<%= prod.thumbnail %> alt="" srcset=""></td>
        </tr>
   <% } %>
</table>
